<h2>HTTP Errors interceptor examples</h2>
<div>
  <button (click)="produceError(500)" mat-raised-button color="accent">Produce server error (status 500)</button>
  <button (click)="produceError(400)" mat-raised-button color="accent">Produce bad request error (status 400)</button>
  <button (click)="produceError(401)" mat-raised-button color="accent">Produce unauthorized error (status 401)</button>
  <button (click)="produceError(404)" mat-raised-button color="accent">Produce not found error (status 404)</button>
</div>
